$orange: #fd9222;
$white: #ffffff;
$whiteish: #f9f9f9;
$lightpink: #fcf1e0;
$blacktext: #111111;
$promotext: rgba(255, 255, 255, 0.7);
$background-black: #1e1823;
$rectangle: #d9d9d9;
$background: #fafafa;
$backgroud-page: #e2e2e2;
