.container {
  margin: 0 auto;
  @media (min-width: 320px) {
    padding: 0 12px;
    width: 100%;
  }
  @media (min-width: 375px) {
    padding: 0 20px;
  }
  @media (min-width: 768px) {
    max-width: 704px;
    padding: 0;
  }
  @media (min-width: 1200px) {
    max-width: 1136px;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
