<div class="backdrop  is-hidden animate__animated " data-backdrop-buy>
  <div class="buyModal">
    <button class="modal__close" data-close-buy><svg><use href="./images/icons.svg#close"></use></svg></button>

    <h2 class="buyModal__title"><span class="buyModal__span">bUY</span> nOW</h2>
    <ul class="buyModal__list">
      <li class="buyModal__item">
        <img src="./images/modal-choc.png" alt="chocolate" /><button
          class="buyModal__btn--cards"
        >
          100 g
        </button>
      </li>
      <li class="buyModal__item">
        <img src="./images/modal-mixChoc.png" alt="chocolate" /><button
          class="buyModal__btn--cards"
        >
          200 g
        </button>
      </li>
      <li class="buyModal__item">
        <img src="./images/modal-barChoc.png" alt="chocolate" /><button
          class="buyModal__btn--cards"
        >
          300 g
        </button>
      </li>
    </ul>

   <div class="buyModal__formWrapping">
    <form class="buyModal__form">
        <label class="buyModal__expl--text">Personal information</label>
        <div class="buyModal__form--box">
          <input
            class="buyModal__input buyModal__name"
            type="text"
            placeholder="Name"
          />
          <input
            class="buyModal__input buyModal__name"
            type="text"
            placeholder="Surname"
          />
        </div>
        <label class="buyModal__expl--text">Email</label>
        <div class="form_box">
          <input
            class="buyModal__input buyModal__email"
            type="email"
            placeholder="Enter your email"
          />
        </div>
        <label class="buyModal__expl--text"
          >Phone number
  
          <div class="modal__form_label" for="telephone">
            <div class="modal__wrapper">
              <img src="./images/ukrain_flag.svg" alt="ukrain_flag" />
              <span class="modal__form_num"> +380 </span>
            </div>
    
            <input
              name="telephone"
              class="modal__phone"
              type="tel"
              placeholder="Phone number"
            />
          </div>
        </label>
  
        <label class="buyModal__expl--text">Card number</label>
        <div class="form_box">
          <input
            class="buyModal__input buyModal__card"
            type="card"
            placeholder="Enter card"
          />
        </div>
        <label class="buyModal__expl-text">Comment</label>
        <div class="form_box">
          <input
            class="buyModal__input buyModal__comment"
            type="text"
            placeholder="Enter text"
          />
        </div>
  
        <button class="buyModal__btn">Submit</button>
      </form>
   </div>
  </div>
</div>
