<div class="backdrop">
  <div class="buyModal is-hidden">
    <h2 class="buyModal__title"><span class="buyModal__span">bUY</span> nOW</h2>
    <ul class="buyModal__list">
      <li class="buyModal__item">
        <img src="./images/modal-choc.png" alt="chocolate" /><button
          class="buyModal__btn--cards"
        >
          100 g
        </button>
      </li>
      <li class="buyModal__item">
        <img src="./images/modal-mixChoc.png" alt="chocolate" /><button
          class="buyModal__btn--cards"
        >
          200 g
        </button>
      </li>
      <li class="buyModal__item">
        <img src="./images/modal-barChoc.png" alt="chocolate" /><button
          class="buyModal__btn--cards"
        >
          300 g
        </button>
      </li>
    </ul>

   <div class="buyModal__formWrapping">
    <form class="buyModal__form">
        <label class="buyModal__expl--text">Personal information</label>
        <div class="buyModal__form--box">
          <input
            class="buyModal__input buyModal__name"
            type="text"
            placeholder="Name"
          />
          <input
            class="buyModal__input buyModal__name"
            type="text"
            placeholder="Surname"
          />
        </div>
        <label class="buyModal__expl--text">Email</label>
        <div class="form_box">
          <input
            class="buyModal__input buyModal__email"
            type="email"
            placeholder="Enter your email"
          />
        </div>
        <label class="buyModal__expl--text"
          >Phone number
  
          <div class="buyModal__flagWrap">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="25"
              viewBox="0 0 32 25"
              fill="none"
            >
              <g clip-path="url(#clip0_1_1184)">
                <path
                  d="M31.8318 1.05835H0.242676V24.5665H31.8318V1.05835Z"
                  fill="#FFD700"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M0.242676 1.05835H31.8318V12.8124H0.242676V1.05835Z"
                  fill="#0057B7"
                />
              </g>
              <defs>
                <clipPath id="clip0_1_1184">
                  <rect
                    width="32"
                    height="24"
                    fill="white"
                    transform="translate(0 0.799988)"
                  />
                </clipPath>
              </defs>
            </svg>
            <span class="modal__form_num"> +380 </span>
          </div>
          <input
            class="buyModal__input buyModal__tel--box"
            name="telephone"
            type="tel"
            placeholder="Phone number"
          />
        </label>
  
        <label class="buyModal__expl--text">Card number</label>
        <div class="form_box">
          <input
            class="buyModal__input buyModal__card"
            type="card"
            placeholder="Enter card"
          />
        </div>
        <label class="buyModal__expl-text">Comment</label>
        <div class="form_box">
          <input
            class="buyModal__input buyModal__comment"
            type="text"
            placeholder="Enter text"
          />
        </div>
  
        <button class="buyModal__btn">Submit</button>
      </form>
   </div>
  </div>
</div>
