<section class="descr">
  <div class="container">
    <h2 class="descr__title">
      IT ALL ADDS UP TO ONE EXCEPTIONAL
      <span class="descr__span">TASTE</span> SENSATION
    </h2>
    <p class="descr__text">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
    <ul class="descr__list">
      <li class="descr__items card__side--front">
        <div class="img__wrap">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/chocolate-deskt1x.png 1x,
                ./images/chocolate-deskt2x.png 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/chocolate-mob-tab1x.png 1x,
                ./images/chocolate-tab-mob2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/chocolate-mob-tab1x.png 1x,
                ./images/chocolate-tab-mob2x.png 2x
              "
            />
            <img
              src="./images/chocolate-deskt1x.png"
              alt="chocolate2"
              class="descr__img"
            />
          </picture>
        </div>
        <!-- сюди всередину добавляєш та по стилях стилізуєш -->
        <p class="descr__white-text">mILK CHOCOLATE</p>
        <div class="descr__hover">
          <h3 class="descr__hover-title">Milk chocolate</h3>
          <button class="descr__typeofchoc">chocolate</button>
          <button class="descr__benefits">the benefits</button>
          <p class="descr__hover-text">
            Milk chocolate is a solid chocolate confectionery containing cocoa,
            sugar and milk. It is the most consumed type of chocolate. Chocolate
            was originally sold and consumed as a beverage in pre-Columbian
            times.
          </p>
        </div>
      </li>
      <li class="descr__items card__side--front">
        <div class="img__wrap">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/milk-deskt-1x.png 1x,
                ./images/milk-deskt-2x.png 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/milk-mob-tab-1x.png 1x,
                ./images/milk-mob-tab-1x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/milk-mob-tab-1x.png 1x,
                ./images/milk-mob-tab-1x.png 2x
              "
            />
            <img
              src="./images/chocolate-deskt1x.png"
              alt="chocolate2"
              class="descr__img"
            />
          </picture>
        </div>

        <p class="descr__black-text">Milk</p>


      </li>
      <li class="descr__items card__side--front">
        <div class="img__wrap">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/nuts-deskt1x.png 1x,
                ./images/nuts-deskt2x.png 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/nuts-mob-tab1x.png 1x,
                ./images/nuts-mob-tab2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/nuts-mob-tab1x.png 1x,
                ./images/nuts-mob-tab2x.png 2x
              "
            />
            <img
              src="./images/nuts-mob-tab1x.png"
              alt="chocolate2"
              class="descr__img"
            />
          </picture>
        </div>
        <p class="descr__white-text">nuts</p>
      </li>
      <li class="descr__items card__side--front">
        <div class="img__wrap">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/coffee-deskt1x.png 1x,
                ./images/coffee-deskt2x.png 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/coffee-mob-tab1x.png 1x,
                ./images/coffee-mob-tab2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/coffee-mob-tab1x.png 1x,
                ./images/coffee-mob-tab2x.png 2x
              "
            />
            <img
              src="./images/coffee-deskt1x.png"
              alt="chocolate2"
              class="descr__img"
            />
          </picture>
        </div>

        <p class="descr__black-text">sEMI - SWEET CHOCOLATE</p>
      </li>
    </ul>
  </div>
 

  <!-- не потрібно робити це окремо -->
  
  <!-- <ul class="descr__hover--list">
    <li class="descr__hover--item card__side--back">
      <h3 class="descr__hov-title">Milk chocolate</h3>
      <button class="descr__typeofchoc"><a href="#">chocolate</a></button>
      <button class="descr__benefits"><a href="#">the benefits</a></button>
      <p class="descr__hov-text">
        Milk chocolate is a solid chocolate confectionery containing cocoa,
        sugar and milk. It is the most consumed type of chocolate. Chocolate was
        originally sold and consumed as a beverage in pre-Columbian times.
      </p>
    </li>
    <li class="descr__hover--item card__side--back">
      <h3 class="descr__hov-title">Milk</h3>
      <button class="descr__typeofchoc"><a href="#">milk</a></button>
      <button class="descr__benefits"><a href="#">the benefits</a></button>
      <p class="descr__hov-text">
        Milk is a white liquid food produced by the mammary glands of mammals.
        It is the primary source of nutrition for young mammals (including
        breastfed human infants) before they are able to digest solid
        food.Early-lactation milk,
      </p>
    </li>
    <li class="descr__hover--item card__side--back">
      <h3 class="descr__hov-title">nuts</h3>
      <button class="descr__typeofchoc"><a href="#">nuts</a></button>
      <button class="descclar__benefits"><a href="#">the benefits</a></button>
      <p class="descr__hov-text">
        Almonds, pistachios, and walnuts are some types of nuts that contain
        healthy nutrients. When eaten as part of a nutrient-dense diet, these 9
        nuts may offer benefits such as reducing your risk of heart disease.
        They’re a good source
      </p>
    </li>
    <li class="descr__hover--item card__side--back">
      <h3 class="descr__hov-title">semi - sweet chocolate</h3>
      <button class="descr__typeofchoc"><a href="#">sweet chocolate</a></button>
      <button class="descr__benefits"><a href="#">the benefits</a></button>
      <p class="descr__hov-text">
        Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of the
        best ways to gain an understanding of this type of chocolate is to
        compare it to a different type of
      </p>
    </li>
  </ul> -->
</section>
