<section class="descr">
  <h2 class="descr__title">
    IT ALL ADDS UP TO ONE <br />
    EXCEPTIONAL <span class="descr__span">TASTE</span> SENSATION
  </h2>
  <p class="descr__text">
    At Simply Chocolate, we believe that the secret to exceptional chocolate
    <br />
    is in the details. From the sourcing of the finest ingredients to the <br />
    careful crafting of each individual piece, every step of our process adds
    <br />
    up to one exceptional taste sensation.
  </p>
  <ul class="descr__list">

    <li class="descr__items">
        <picture> і
            <source 
              media="(min-width: 1200px)" 
              srcset=" 
              ./images/chocolate-deskt1x.png 1x, 
              ./images/chocolate-deskt2x.png 2x 
              " 
            /> 
            <source 
              media="(max-width: 767px)" 
              srcset=" 
              ./images/chocolate-mob-tab1x.png ,
              ./images/chocolate-tab-mob2x.png"
              
              
            /> 
            <source 
              media ="(min-width: 768px)" 
              srcset=" 
              ./images/chocolate-mob-tab1x.png 1x, 
              ./images/chocolate-tab-mob2x.png 2x 
              " 
            /> 
            <img 
              src="./images/chocolate-deskt1x.png" 
              alt="chocolate2" 
              class="sells__img" 
            /> 
          </picture>
     

      <p></p>
    </li>
    <li class="descr__items">
        <picture> 
            <source 
              media="(min-width: 1200px)" 
              srcset=" 
              ./images/milk-deskt-1x.png 1x, 
              ./images/milk-deskt-2x.png 2x 
              " 
            /> 
            <source 
              media="(max-width: 767px)" 
              srcset=" 
              ./images/milk-mob-tab-1x.png 1x ,
              ./images/milk-mob-tab-1x.png 2x"
              
              
            /> 
            <source 
              media ="(min-width: 768px)" 
              srcset=" 
              ./images/milk-mob-tab-1x.png 1x, 
              ./images/milk-mob-tab-1x.png 2x 
              " 
            /> 
            <img 
              src="./images/chocolate-deskt1x.png" 
              alt="chocolate2" 
              class="sells__img" 
            /> 
          </picture>

      <p></p>
    </li>
    <li class="descr__items">
 
     
        <picture> 
          <source 
            media="(min-width: 1200px)" 
            srcset=" 
            ./images/nuts-deskt1x.png 1x, 
            ./images/nuts-deskt2x.png 2x 
            " 
          /> 
          <source 
            media="(max-width: 767px)" 
            srcset=" 
            ./images/nuts-mob-tab1x.png 1x ,
            ./images/nuts-mob-tab2x.png 2x"
            
            
          /> 
          <source 
            media ="(min-width: 768px)" 
            srcset=" 
            ./images/nuts-mob-tab1x.png  1x, 
            ./images/nuts-mob-tab2x.png 2x 
            " 
          /> 
          <img 
            src="./images/nuts-mob-tab1x.png" 
            alt="chocolate2" 
            class="sells__img" 
          /> 
        </picture>
        <p></p>
      </li>
    <li class="descr__items">
    
        <picture> 
            <source 
              media="(min-width: 1200px)" 
              srcset=" 
              ./images/coffee-deskt1x.png 1x, 
              ./images/coffee-deskt2x.png 2x 
              " 
            /> 
            <source 
              media="(max-width: 767px)" 
              srcset=" 
              ./images/coffee-mob-tab1x.png 1x ,
              ./images/coffee-mob-tab2x.png 2x"
              
              
            /> 
            <source 
              media ="(min-width: 768px)" 
              srcset=" 
              ./images/coffee-mob-tab1x.png 1x, 
              ./images/coffee-mob-tab2x.png 2x 
              " 
            /> 
            <img 
              src="./images/coffee-deskt1x.png" 
              alt="chocolate2" 
              class="sells__img" 
            /> 
          </picture>
      
      <p></p>
    </li>
  </ul>
</section>
