<section class="exp">
  <div class="container">
    <p class="exp__title">hOW IT’S<span class="exp__wrapper">made?</span></p>
    <div class="exp__components">
      <div class="exp__images">
<!--         <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/process-deskt1x.png 1x,
              ./images/process-deskt2x.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/process-mob1x.png 1x,
              ./images/process-mob2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/process-deskt1x.png 1x,
              ./images/process-deskt2x.png 2x
            "
          />
          <img
            src="./images/process-deskt1x.png"
            alt="exp_process_img"
            class="exp__img"
          />
        </picture> -->
<!--         <svg
          class="exp_svg_play"
          xmlns="http://www.w3.org/2000/svg"
          width="35"
          height="35"
          viewBox="0 0 35 35"
          fill="none"
        >
          <path d="M13 26V11L27 18.5L13 26Z" fill="#F5F4F4" />
          <circle cx="17.5" cy="17.5" r="17" stroke="white" />
        </svg> -->
        <video class="video-js vjs-theme-forest" controls preloader="auto" poster="./images/process-tab2x.png" data-setup="{}" id="my-video">
          <source src="./images/how-it's-made-Chocolate.mp4" type="video/mp4">
        </video>
      </div>
      <div class="exp__card">
        <h3 class="exp__descr_title">
          Try our chocolates today and <br />
          discover the perfect balance of flavor
        </h3>
        <ul class="exp__list">
          <li class="exp__item">
            <p class="exp__item_p">
              Heat the milk in a saucepan without bringing it to a boil. Add
              <br />
              sugar and cocoa powder.
            </p>
          </li>
          <li class="exp__item">
            <p class="exp__item_p">
              At the same time, prepare a water bath. Melt the butter on it.
            </p>
          </li>
          <li class="exp__item">
            <p class="exp__item_p">
              "Mix" the milk mixture and already liquid butter. Mix <br />
              thoroughly with a silicone spatula so that the mass becomes <br />
              uniform and silky.
            </p>
          </li>
          <li class="exp__item">
            <p class="exp__item_p">
              Heat the mixture over low heat, letting it barely boil.
            </p>
          </li>
          <li class="exp__item">
            <p class="exp__item_p">
              Pour the chocolate into special containers (can be replaced <br />
              with ice molds). Allow to cool and harden.
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="exp__rectangle"></div>
  </div>
</section>
