<section class="exp">
  <div class="container">
    <p class="exp__title">hOW IT’S<span class="exp__wrapper">made?</span></p>
    <div class="exp__images">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="./images/process-deskt1x.png, ./images/process-deskt2x.png"
        />
        <img
          src="./images/process-deskt1x.png"
          alt="products"
          class="exp__img"
        />
      </picture>
    </div>
    <div class="exp__card">
      <h3 class="exp__descr_title">
        Try our chocolates today and <br> discover the perfect balance of flavor
      </h3>
      <ul class="exp__list">
        <li class="exp__item">
          <p class="exp__item_p">
            Heat the milk in a saucepan without bringing it to a boil. Add
            <br />
            sugar and cocoa powder.
          </p>
        </li>
        <li class="exp__item">
          <p class="exp__item_p">
            At the same time, prepare a water bath. Melt the butter on it.
          </p>
        </li>
        <li class="exp__item">
          <p class="exp__item_p">
            "Mix" the milk mixture and already liquid butter. Mix <br />
            thoroughly with a silicone spatula so that the mass becomes <br />
            uniform and silky.
          </p>
        </li>
        <li class="exp__item">
          <p class="exp__item_p">
            Heat the mixture over low heat, letting it barely boil.
          </p>
        </li>
        <li class="exp__item">
          <p class="exp__item_p">
            Pour the chocolate into special containers (can be replaced <br />
            with ice molds). Allow to cool and harden.
          </p>
        </li>
      </ul>
    </div>
    <div class="exp__rectangle"></div>
  </div>
</section>
