<div
  class="backdrop animate__animated animate__fadeInRight wow"
  data-wow-duration="2s"
  data-modal
>
  <div class="modal">
    <p class="modal__title">
      LEAVE A REVIEW ABOUT <br> <span class="modal__wrapper"> OUR CHOCOLATE</span>
    </p>
    <form class="modal__form">
      <label class="modal__form_label" for="name">
        <div class="modal__form_box">
          <input name="name" type="text" placeholder="Name" />
        </div>
      </label>
      <label class="modal__form_label" for="email">
        <div class="modal__form_box">
          <input name="email" type="text" placeholder="Email" />
        </div>
      </label>
      <label class="modal__form_label" for="telephone">
        <div class="modal__form_box">
          <input name="telephone" type="telephone" placeholder="Phone number" />
        </div>
      </label>
      <label class="modal__form_label" for="comments">
        <div class="modal__message_box">
          <textarea
            name="message"
            id="comments"
            placeholder="Enter text"
          ></textarea>
        </div>
      </label>
    </form>
    <button class="modal__button">Send</button>
    <button class="modal__close" data-close-modal>&times;</button>
  </div>
</div>
