<div
  class="backdrop animate__animated  is-hidden"

  data-backdrop-feedback
>
  <div class="modal">
    <p class="modal__title">
      LEAVE A REVIEW ABOUT <br />
      <span class="modal__color"> OUR CHOCOLATE</span>
    </p>
    <form class="modal__form">
      <input name="name" type="text" class="modal__input" placeholder="Name" />

      <input name="email" type="email" class="modal__input" placeholder="Email" />

      <label class="modal__form_label" for="telephone">
        <div class="modal__wrapper">
          <img src="./images/ukrain_flag.svg" alt="ukrain_flag" />
          <span class="modal__form_num"> +380 </span>
        </div>

        <input
          name="telephone"
          class="modal__phone"
          type="tel"
          placeholder="Phone number"
        />
      </label>

      <textarea
        name="message"
        id="comments"
        placeholder="Enter text"
        class="modal__textarea"
      ></textarea>
    </form>
    <button class="modal__button">Send</button>
    <button class="modal__close" data-close-feedback><svg><use href="./images/icons.svg#close"></use></svg></button>
  </div>
</div>
