<header class="header" id="header">
  <div class="container">
    <div class="header__wrap">
      <div class="header__logo--wrap">
        <a class="header__logo" href="#"
          ><span class="header__logo--span">SIMPLY</span> CHOCOLATE
          <svg><use href="./images/icons.svg#logo"></use></svg
        ></a>
      </div>
      <nav class="header__nav">
        <ul class="header__nav--menu">
          <!-- Потрібно робити посиланням -->
          <li class="header__nav--item">
            <a href="#header" class="header__nav--link">Home</a>
          </li>
          <li class="header__nav--item">
            <a href="#" class="header__nav--link">How it’s made?</a>
          </li>
          <li class="header__nav--item">
            <a href="#" class="header__nav--link">Our products</a>
          </li>
          <li class="header__nav--item">
            <a href="#" class="header__nav--link">Top sellers</a>
          </li>
          <li class="header__nav--item">
            <a href="#" class="header__nav--link">Chocolate is loved</a>
          </li>
        </ul>
      </nav>
      <div class="header__social--media">
        <a href="#" class="header__social--link">
          <!-- тут використовуємо на пряму svg картинки або іконочні шрифти для того щоб потім заанімувати -->
          <svg height="24" width="24">
            <use href="./images/icons.svg#instagram"></use>
          </svg>
        </a>
        <a href="#" class="header__social--link"
          ><svg height="24" width="24">
            <use href="./images/icons.svg#twitter"></use></svg
        ></a>
      </div>
      <button class="menu-toggle js-open-menu">
        <svg width="32" height="32">
          <use href="./images/icons.svg#burger"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
<div class="menu-container js-menu-container">
  <button class="menu-toggle js-close-menu">
    <svg>
      <use href="./images/icons.svg#close"></use>
    </svg>
  </button>
  <nav class="header__nav">
    <ul class="header__nav--menu">
      <li class="header__nav--item">Home</li>
      <li class="header__nav--item">How it’s made?</li>
      <li class="header__nav--item">Our products</li>
      <li class="header__nav--item">Top sellers</li>
      <li class="header__nav--item">Chocolate is loved</li>
    </ul>
  </nav>
  <div class="header__social--media">
    <a href="#"><img src="./images/instagram.svg" alt="Instagram logo" /></a>
    <a href="#"><img src="./images/twitter.svg" alt="Twitter logo" /></a>
  </div>
</div>
