<header class="header">
  <div class="container">
    <a class="header__logo" href="#"
      >SIMPLY CHOCOLATE
      <img class="header__logo--icon" src="./images/chocolate.svg" alt="icon"
    /></a>
    <nav class="header__nav">
      <ul class="header__nav--menu">
        <li class="header__nav--item">Home</li>
        <li class="header__nav--item">How it’s made?</li>
        <li class="header__nav--item">Our products</li>
        <li class="header__nav--item">Top sellers</li>
        <li class="header__nav--item">Chokolate is loved</li>
      </ul>
    </nav>
    <a href="#"><img src="../images/instagram.svg" alt="Instagram logo"></a>
    <a href="#"><img src="../images/twitter.svg" alt="Twitter logo" /></a>
  </div>
</header>