<header class="header">
  <div class="container">
    <div class="header__wrap">
      <div class="header__logo--wrap">
        <a class="header__logo" href="#"
          ><span class="header__logo--span">SIMPLY</span> CHOCOLATE
          <img class="header__logo--icon" src="./images/chocolate.svg" alt="icon"
        /></a>
      </div>
      <nav class="header__nav">
        <ul class="header__nav--menu">
          <li class="header__nav--item">Home</li>
          <li class="header__nav--item">How it’s made?</li>
          <li class="header__nav--item">Our products</li>
          <li class="header__nav--item">Top sellers</li>
          <li class="header__nav--item">Chocolate is loved</li>
        </ul>
      </nav>
      <div class="header__social--media">
        <a href="#"><img src="./images/instagram.svg" alt="Instagram logo" /></a>
        <a href="#"><img src="./images/twitter.svg" alt="Twitter logo" /></a>
      </div>
    </div>
  </div>
</header>
