

    <div class="backdrop is-hidden" data-backdrop-subscribe>
      <div class="subscribe">
        <button class="btn-m subscribe__btn--close" data-close-subscribe>&times;</button>
 <!-- <div class="subscribe__imgWrap"><img src="./images/subscribe_bg-modal-1x-desktop.png" alt=""></div>  -->
 

   <div class="subscribe__wrap--info">
    <h2 class="subscribe__title">Explore our <br> <span class="subscribe__title--span">new chocolate</span> first!</h2>
    <div class="info__wrap">
      <input class="subscribe__email" type="email" required placeholder="Enter your email">
    <button class="subscribe__btn" data-open-thanks>Submit</button>
    </div>
   </div>
 
    
  
</div>
</div>
