<section class="promo" id="promo">
  <div class="container">
    <div class="promo__block">
      <p class="promo__text">
        Treat yourself or a loved one <br />
        to our finest ingredients for a moment of pure delight!
      </p>
      <div class="promo__elements-block">
        <div class="promo__btns">
          <button class="promo__btn-buy" data-open-sellers>Buy now</button>
          <a class="promo__btn-how" href="#exp"> How it’s made </a>
        </div>
        <div  class="promo__scroll">
          <span class="promo__span">scroll down</span>
          <a href="#footer" class="promo__scroll-box">
            <i class="fa-solid fa-angle-down fa-sm" style="color: #fd9222"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
