<section class="review">
  <h1 class="review__title"><span class="review__span"> chocolate </span> is loved</h1>
  <ul class="review__list">
    <li class="review__item">
       <div class="review__wrap--img"> <img src="./images/viktoria.svg" alt="person"></div>
      <h3 class="review__subtitle">Victoria Dobrzhanska</h3>
      <p class="review__text">
        I love this chocolate bar. Perfect combination of light crispy wafer,
        covered in a thin layer chocolate.
      </p>
    </li>
    <li class="review__item">
        <div class="review__wrap--img"><img src="./images/nazar.svg" alt="person"></div>
      <h3 class="review__subtitle">Nazar Babenko</h3>
      <p class="review__text">
        This chocolate confection is a delight! A delight! The wafer is light
        and crisp, the hazelnut cream is smooth, and the chocolate is good.
      </p>
    </li>
    <li class="review__item">
        <div class="review__wrap--img"><img src="./images/olena.svg" alt="person"></div>
      <h3 class="review__subtitle">Olena Kampusch</h3>
      <p class="review__text">
        This chocolate confection is a delight! A delight! The wafer is light
        and crisp, the hazelnut cream is smooth, and the chocolate is good.
      </p>
    </li>
  </ul>
</section>
