
    <section class="sells">
      <div class="container">
        <h2 class="sells__title"<span> tOp</span>Sellers</h2>
        <ul class="sells__list">
         <li class="sells__items">
          <div class="sells__img">
            <picture> 
            <source 
              media="(min-width: 1200px)" 
              srcset=" ../images/choc-coff-deskt1x.png 1x , 
              ../images/choc-coff-deskt2x.png 2x
              " 
            /> 
            <source 
              media="(max-width: 767px)" 
              srcset=" ../images/choc-coff-mob1x.png 1x,
              ../images/choc-coff-mob2x.png 2x
             
              " 
            /> 
            <source 
              media="(min-width: 768px)" 
              srcset=" 
              ../images/choc-coff-tab1x.png 1x, 
              ../images/choc-coff-tab2x.png 2x
              " 
            /> 
            <img 
              src="../images/choc-coff-deskt1x.png" 
              alt="chocolate2" 
              class="sells__img" 
            /> 
          </picture>
        </div>
         </li>
         <li class="sells__items">
          <div class="sells__img"><picture> <img src="../images/choc-nuts-tab1x.png" alt="">
            <source 
              media="(min-width: 1200px)" 
              srcset=" 
              ../images/choc-nuts-deskt1x.png 1x, 
              ../images/choc-nuts-deskt2x.png 2x 
              " 
            /> 
            <source 
              media="(max-width: 767px)" 
              srcset=" 
              ../images/choc-nuts-mob1x.png 1x, 
              ../images/choc-nuts-mob2x.png 2x 
              " 
            /> 
            <source 
              media="(min-width: 768px)" 
              srcset="
              ../images/choc-nuts-tab1x.png 1x, 
              ../images/choc-nuts-tab2x.png 2x 
              " 
            /> 
            <img 
              src="./imgs/products/products-2-pc-1x.png" 
              alt="chocolate2" 
              class="products__img" 
            /> 
          </picture></div>
         </li>
         <li class="sells__items">
          <div class="sells__img"><img src="" alt=""></div>
         </li>
        </ul>
        <div class="sells__wrap">
          <p class="sells__descr">
            Crazy enough chocolate originates from a bean just like the coffee
            bean called Cacao.Cacao has been around for thousands of years and
            was first discovered by the Native American tribe called the Mayans.
          </p>
          <button>Buy now</button>
      
        </div>
      </div>
    </section>

