
    <section class="sells">
      <div class="container">
        <h2 class="sells__title" <span class="span"> tOp </span> Sellers </h2>
      <div class="sells__list-wrap">
        <ul class="sells__list">
          <li class="sells__items orange">
        <div class="sells__img-wrap change">
 
        
             <picture> 
             <source 
               media="(min-width: 1200px)" 
               srcset=" ./images/choc-coff-deskt1x.png 1x , 
               ./images/choc-coff-deskt2x.png 2x
               " 
             /> 
             <source 
               media="(max-width: 767px)" 
               srcset=" ./images/choc-coff-mob1x.png 1x,
               ./images/choc-coff-mob2x.png 2x
              
               " 
             /> 
             <source 
               media="(min-width: 768px)" 
               srcset=" 
               ./images/choc-coff-tab1x.png 1x, 
               ./images/choc-coff-tab2x.png 2x
               " 
             /> 
             <img 
               src="./images/choc-coff-deskt1x.png" 
               alt="chocolate" 
               class="sells__img" 
             /> 
           </picture> 
         </div>
       
          </li>
          <li class="sells__items">
           <div class="sells__img-wrap"><picture> 
             <source 
               media="(min-width: 1200px)" 
               srcset=" 
               ./images/choc-nuts-deskt1x.png 1x, 
               ./images/choc-nuts-deskt2x.png 2x 
               " 
             /> 
             <source 
             media="(max-width: 767px)" 
             srcset=" ./images/choc-nuts-mob1x.png 1x,
             ./images/choc-nuts-mob2x.png 2x
            
             " 
           /> 
           <source 
             media="(min-width: 768px)" 
             srcset=" 
             ./images/choc-nuts-tab1x.png 1x, 
             ./images/choc-nuts-tab2x.png 2x
             " 
           />    <img 
             src="./images/choc-nuts-deskt1x.png"
             alt="chocolate" 
             class="sells__img" 
           /> 
             
           </picture></div>
          </li>
          <li class="sells__items">
           <div class="sells__img-wrap-n">
             <picture> 
               <source 
                 media="(min-width: 1200px)" 
                 srcset="./images/choc-dark-deskt1x.png 1x , 
                 ./images/choc-dark-deskt2x.png 2x
                 " 
               /> 
              
               <img 
               src="./images/choc-dark-deskt1x.png" 
               alt="chocolate" 
               class="sells__img" 
             /> 
             
             </picture>
           </div>
          </li>
         </ul>
         <div class="sells__wrap">
           <p class="sells__descr change">
             Crazy enough chocolate originates from a <br> bean just like the coffee
             bean called Cacao. <br> Cacao has been around for thousands of <br> years and
             was first discovered by the Native <br> American tribe called the Mayans.
           </p>
           <button class="sells__button">Buy now</button>
      </div>
      
        </div>
      </div>
    </section>








    <section class="sells__mob">
      <div class="container">
        <h2 class="sells__title" <span class="span"> tOp </span> Sellers </h2>
      <div class="sells__list-wrap">
        <ul class="sells__list-mob">
          <li class="sells__items">
        <div class="sells__img-wrap change">
 
        
             <picture> 
             <source 
               media="(min-width: 1200px)" 
               srcset=" ./images/choc-coff-deskt1x.png 1x , 
               ./images/choc-coff-deskt2x.png 2x
               " 
             /> 
             <source 
               media="(max-width: 767px)" 
               srcset=" ./images/choc-coff-mob1x.png 1x,
               ./images/choc-coff-mob2x.png 2x
              
               " 
             /> 
             <source 
               media="(min-width: 768px)" 
               srcset=" 
               ./images/choc-coff-tab1x.png 1x, 
               ./images/choc-coff-tab2x.png 2x
               " 
             /> 
             <img 
               src="./images/choc-coff-deskt1x.png" 
               alt="chocolate" 
               class="sells__img" 
             /> 
           </picture> 
         </div>
         <p class="sells__descr-mob change">
          Crazy enough chocolate originates from a <br> bean just like the coffee
          bean called Cacao. <br> Cacao has been around for thousands of <br> years and
          was first discovered by the Native <br> American tribe called the Mayans.
        </p>
       
          </li>
          <li class="sells__items">
           <div class="sells__img-wrap"><picture> 
             <source 
               media="(min-width: 1200px)" 
               srcset=" 
               ./images/choc-nuts-deskt1x.png 1x, 
               ./images/choc-nuts-deskt2x.png 2x 
               " 
             /> 
             <source 
             media="(max-width: 767px)" 
             srcset=" ./images/choc-nuts-mob1x.png 1x,
             ./images/choc-nuts-mob2x.png 2x
            
             " 
           /> 
           <source 
             media="(min-width: 768px)" 
             srcset=" 
             ./images/choc-nuts-tab1x.png 1x, 
             ./images/choc-nuts-tab2x.png 2x
             " 
           />    <img 
             src="./images/choc-nuts-deskt1x.png"
             alt="chocolate" 
             class="sells__img" 
           /> 
             
           </picture> </div>
           <button class="sells__button-mob">Buy now</button>
          
          </li>
        
         </ul>
         <div class="sells__wrap">
       
    
      </div>
      
        </div>
      </div>
    </section>
    

