<div
  class="backdrop animate__animated animate__fadeInRight wow"
  data-wow-duration="2s"
  data-modal
>
  <div class="thankyou">
    <div class="container">
      <h3 class="thankyou__title">thank you!</h3>
      <p class="thankyou__deskr">
        We are glad that you ordered our <br />
        chocolate and we are giving you a <br />
        20% discount on all our products.
      </p>
      <div class="thankyou__images">
        <img
          class="thankyou__img"
          src="./images/modal_thankyou-chocolate-bg.png"
          alt="chocolate"
        />
      </div>
      <button class="thankyou__close" data-close-modal>&times;</button>
    </div>
  </div>
</div>
