<div
  class="backdrop animate__animated  is-hidden"
  data-backdrop-thanks
>
  <div class="thankyou">
    <div class="container">
      <h3 class="thankyou__title">thank you!</h3>
      <p class="thankyou__deskr">
        We are glad that you ordered our <br />
        chocolate and we are giving you a <br />
        20% discount on all our products.
      </p>
      <div class="thankyou__images">
        <img
          class="thankyou__img"
          src="./images/modal_thankyou-chocolate-bg.png"
          alt="chocolate"
        />
      </div>
      <button class="thankyou__close" data-close-thanks>
        <div class="thankyou__wrap_svg">
          <svg
            xmlns="http://www.w3.org/2000/svg"

            viewBox="0 0 22 22"
            fill="none"
          >
            <path
              d="M16.5 5.5L5.5 16.5"
              stroke="url(#paint0_linear_1_1252)"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M5.5 5.5L16.5 16.5"
              stroke="url(#paint1_linear_1_1252)"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <defs>
              <linearGradient
                id="paint0_linear_1_1252"
                x1="11.0478"
                y1="5.5"
                x2="10.6719"
                y2="16.4888"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#F16529" />
                <stop offset="1" stop-color="#D44528" />
              </linearGradient>
              <linearGradient
                id="paint1_linear_1_1252"
                x1="11.0478"
                y1="5.5"
                x2="10.6719"
                y2="16.4888"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#F16529" />
                <stop offset="1" stop-color="#D44528" />
              </linearGradient>
            </defs>
          </svg>
        </div>
      </button>
    </div>
  </div>
</div>
