.buyModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 609px;
  height: 1058px;
  border-radius: 15px;
  background: $whiteish;
  padding: 48px;
  &__item {
    display: flex;
    width: 160px;
    padding: 24px 20px 18px 20px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 14px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    background: $white;
    &:hover {
        background: $orange;
        transition: 0.6s;
    }
  }
  &__list {
    display: flex;
    gap: 16px;
    margin-bottom: 60px;
    justify-content: center;
  }
  &__btn--cards {
    color: $blacktext;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 100px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    background: $background;
    display: flex;
    width: 96px;
    padding: 8px 27px;
    justify-content: center;
    align-items: flex-start;
    gap: 14px;
    cursor: pointer;
    white-space: nowrap;
  }
  &__btn {
    @extend %btn;
    display: flex;
    padding: 14px 40px;
    align-items: flex-start;
    gap: 14px;
    margin-top: 18px;

    &:hover {
      border-radius: 100px;
      background: $lightpink;
      color: $orange;
      transition: 0.6s;
    }
  }
  &__expl--text {
    color: $blacktext;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.28px;
  }
  &__input {
    color: rgba(64, 64, 64, 0.3);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.36px;
    margin-top: 8px;
    padding: 22px;
    border-radius: 13px;
  }

  &__email {
    width: 513px;
    padding: 22px 24px;
    height: 66px;
    border-radius: 13px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
  }
  &__name {
    width: 246px;
    height: 66px;
    border-radius: 13px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
  }
  &__form--box {
    display: flex;
    gap: 21px;
    border-radius: 13px;
  }
  &__tel--box {
    width: 513px;
    height: 66px;
    margin: 8px;
    border-radius: 13px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
  }
  &__formWrapping {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__card {
    width: 513px;
    height: 66px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
  }

  &__comment {
    width: 513px;
    height: 137px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
  }

  &__title {
    @extend %title;
    margin-bottom: 30px;
  }
  &__span {
    @extend %title;
    color: $orange;
  }
}
.backdrop {
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99900;
  display: none;
}
