.hero {
  margin-top: 70px;
  padding: 20px 0;
  background: $background-black;
  @media (min-width:768px) {
    padding: 50px 0;
    margin-top: 50px;
  }
  @media (min-width:1200px) {
    margin-top: 72px;
  }
  &__list {
    display: flex;
    gap: 38px;
    flex-wrap: wrap;
    @media (min-width:768px) {
      justify-content: space-between;

    }


  }
  &__sub {
    color: $white;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 18px;
  }
  &__text {
    color: $promotext;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;
    @media (min-width:768px) {
      max-width: 308px;
    }
  }
  &__elipse {
    border-radius: 365px;
    border: 1px solid $promotext;
    width: 62px;
    height: 62px;
    margin-bottom: 22px;
  }
  &__elipse > svg {
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
}
.hr {
  height: 124px;
  transform: rotate(180deg);
  color: $promotext;
  top: 70px;
  position: relative;
  @media (max-width:1200px) {
    display: none;
  }
}
