.products {
  background-color: $backgroud-page;
  height: auto;
  padding: 41px 0 131px 0;
  @media (max-width: 768px) {
    padding: 100px 0 100px 0;
  }
  @media (max-width: 320px) {
    padding: 72px 0 72px 0;
  }
  &__img {
    width: 230px;
    height: 201px;
  }
  &__wrapper {
    color: $orange;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 116.667% */
    letter-spacing: -0.72px;
    text-transform: uppercase;
    @media (max-width: 320px) {
      font-size: 20px;
      line-height: 24px;
      letter-spacing: -0.6px;
    }
  }
  &__title {
    text-align: center;
    color: $blacktext;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
    text-transform: uppercase;
    margin-bottom: 50px;
    @media (max-width: 320px) {
      font-size: 20px;
      line-height: 24px;
      letter-spacing: -0.6px;
    }
  }

  &__name {
    color: $blacktext;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 133.333% */
    letter-spacing: -0.36px;
    text-transform: uppercase;
    text-align: center;
  }
  &__descr {
    color: rgba(17, 17, 17, 0.7);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 116.667% */
    letter-spacing: -0.24px;
    text-align: center;
  }
  &__btn {
    color: $blacktext;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    width: 94px;
    padding: 8px 20px;
    align-items: flex-start;
    gap: 14px;
    border-radius: 100px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    background: $background;
    display: block;
    margin: 0 auto;
    margin-top: 18px;
    white-space: nowrap;
  }
  &__item {
    width: 270px;
    height: 364px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    background: $white;
  }
  &__list {
    display: flex;
    gap: 18px;
    overflow: hidden;
  }
  &__elipsess {
    background-color: $orange;
    width: 28px;
    height: 13px;
    z-index: 999;
    display: block;
    border-radius: 100px;
    margin: 0 auto;
  }
  &__elipse {
    width: 13px;
    height: 13px;
    background-color: rgba(17, 17, 17, 0.1);
    border-radius: 100px;
    margin: 0 auto;
  }
  &__elipses {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    height: 13px;
    width: 210px;
    margin-top: 29px;
  }
  &__img {
    position: relative;
    left: 50%;
    top: 29%;
    transform: translate(-50%, -50%);
  }
  &__item:nth-child(2) {
    @media (max-width: 320px) {
      display: none;
    }
  }
  &__item:nth-child(3) {
    @media (max-width: 320px) {
      display: none;
    }
    }
  &__item:nth-child(4) {
    @media (max-width: 320px) {
      display: none;
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
}
