.descr {
  padding: 128px 0;
  &__title {
    width: 411px;
    margin: 0 auto;
    @extend %title;
    @media (max-width: 480px) {
      width: 283px;
      font-size: 20px;
    }
  }
  &__img {
    margin: 0 auto;
    display: block;
    width: 224px;
    @media (min-width: 1200px) {
      width: 206px;
    }
  }

  &__span {
    color: $orange;
  }
  &__text {
    @extend %descrtext;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 28px;
    text-align: center;

    @media (min-width: 375px) {
      max-width: 335px;
    }
    @media (min-width: 1200px) {
      max-width: 486px;
    }
  }
  &__black-text {
    color: $blacktext;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.28px;
    text-transform: uppercase;
    margin-left: 28px;
  }
  &__hov-text {
    width: 214px;
    color: $blacktext;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.28px;
  }
  &__hov-title {
    color: $blacktext;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.54px;
    text-transform: uppercase;
  }
  &__hover--list {
    background-color: rgb(198, 175, 175);
  }
  &__hover--item {
    width: 270px;
    height: 270px;
    border-radius: 15px;
    background-color: $white;
    padding: 28px;
    cursor: pointer;

    transition: 1s ease-in-out;
    transform-style: preserve-3d;
    position: relative;
  }
  &__items {
    position: relative;
    cursor: pointer;
    border-radius: 15px;
    transition: 1s ease-in-out;
    width: 100%;
    height: 270px;
    @media (min-width: 375px) {
      width: 335px;
    }
    @media (min-width: 1200px) {
      width: 270px;
    }
    &:nth-child(1) {
      background: $orange;
      @media (min-width: 768px) {
        order: 1;
      }
      @media (min-width: 1200px) {
        order: 1;
      }
    }
    &:nth-child(2) {
      border: 1px solid $orange;
      background: $white;
      @media (min-width: 768px) {
        order: 3;
      }
      @media (min-width: 1200px) {
        order: 2;
      }
    }
    &:nth-child(3) {
      background: $background-black;

      @media (min-width: 768px) {
        order: 4;
      }
      @media (min-width: 1200px) {
        order: 3;
      }
    }
    &:nth-child(4) {
      border: 1px solid $orange;
      background: $white;
      @media (min-width: 768px) {
        order: 2;
      }
      @media (min-width: 1200px) {
        order: 4;
      }
    }
  }
  &__typeofchoc {
    color: #fff;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; /* 120% */
    border-radius: 35px;
    background: $orange;
    width: 81px;
    height: 24px;
    border: none;
  }
  &__benefits {
    border-radius: 35px;
    border: 1px solid $orange;
    background: $background;
    color: $blacktext;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; /* 120% */
    width: 81px;
    height: 24px;
  }
  &__white-text {
    color: $white;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.28px;
    text-transform: uppercase;
    margin: 0 0 21px 28px;
  }
  &__hover--item {
    position: relative;
    width: 269px;
    height: 269px;
    cursor: pointer;
    transition: 1s ease-in-out;
    transform-style: preserve-3d;

    transition: 1s ease-in-out;
    -webkit-box-reflect: below 0
      linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));

    top: 0;
    left: 0;
    display: none;
    &:hover {
      transform: rotateY(0.5turn);
      .descr__items {
        display: block;
      }
    }
  }
  &__list {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

    @media (max-width: 1200px) {
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }
    // @media (max-width: 1200px) {
    //   .descr__items:nth-child(4) {
    //     order: 2;
    //   }

    //   .descr__items:nth-child(2) {
    //     order: 3;
    //   }

    //   .descr__items:nth-child(3) {
    //     order: 4;
    //   }
    // }
  }
}

.descr__items:hover .descr__hover--item {
  display: block;
}

.img__wrap {
  padding: 28px 36px 28px 28px;
}
