.hamburger span:nth-child(1) {
  transform: translateY(5px) rotate(-45deg);
}

.hamburger span:nth-child(2) {
  display: none;
}

.hamburger span:nth-child(3) {
  transform: translateY(-3px) rotate(45deg);
}
