.sells {
  // padding: 128px 0; // ці відступи дадуться іншим секція і вони в ній поставляться автоматично

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 768px) {
    }
  }
  &__title {
    color: $blacktext;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
  }

  &__descr {
    display: none;
    @extend %descrtext;
    max-width: 306px;
    @media (min-width: 768px) {
      display: block;
    }
    @media (min-width: 1200px) {
      max-width: 407px;
    }
    &--mob {
      display: block;
      margin-bottom: 32px;
      @media (min-width: 768px) {
        display: none;
        margin: 0;
      }
    }
  }
  &__button {
    @extend %btn;
    width: 162;
    height: 50px;
    display: none;
    @media (min-width: 768px) {
      display: block;
    }
    &--mob {
      display: block;
      margin: 0 auto;
      @media (min-width: 768px) {
        display: none;
      }
    }
  }

  &__button:hover {
    border-radius: 100px;
    background: $lightpink;
    color: $orange;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: 0.6s all;
    cursor: pointer;
  }
  &__wrap {
    display: none;
    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
    }
  }
  &__items {
    border-radius: 15px;
    &:nth-child(2) {
      display: none;
      @media (min-width: 768px) {
        display: block;
      }
    }
    &:last-child {
      display: none;

      @media (min-width: 1200px) {
        display: block;
      }
    }
  }
  &__img {
    width: 100%;
    border-radius: 15px;
  }
  &__list-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media (min-width: 768px) {
      gap: 32px;
    }
  }
  &__img-wrap--mob {
    display: block;
    @media (min-width: 768px) {
      display: none;
    }
  }
  &__descr-mob {
    @extend %descrtext;
    margin: 20px 29px 32px 0;
  }
  &__list-mob {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }

  &__button-mob {
    @extend %btn;
    width: 162px;
    height: 50px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
  }
}

.span {
  color: $orange;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 116.667% */
  letter-spacing: -0.72px;
  text-transform: uppercase;
}
// .change {
//   display: flex;
// }
.sells__mob {
  display: none;
  @media (max-width: 480px) {
    display: block;
  }
}
