.sells {
  padding: 128px 32px;
  @media (max-width:768px) {
    display: none;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    @media (max-width:768px) {
      flex-wrap: wrap;
      display: block;
    }
  }
  &__title {
    color: $blacktext;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
  }
  &__descr {
    @extend %descrtext ;
  }
  &__button {
   @extend %btn;
   width: 162;
   height: 50px;
  }






  &__button:hover {
    border-radius: 100px;
    background: $lightpink;
    color: $orange;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: 0.6s all;
    cursor: pointer;
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
  }
  &__items {
    border-radius: 15px;
  }
  &__img {
    border-radius: 15px;

  }
  &__list-wrap {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  &__img-wrap-n {
    display: block;
    @media (max-width : 1200px) {
      display: none;
    }
  }
  &__descr-mob {
    @extend %descrtext;
    margin: 20px 29px 32px 0;
  }
  &__list-mob {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }
  &__mob {
    @media (min-width:768px) {
      display: none;
    }
  }
    &__button-mob {
      @extend %btn;
      width: 162px;
      height: 50px;
      display: block;
      margin: 0 auto; 
      margin-top: 20px;
    }
  }


.span {
  color: $orange;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 116.667% */
  letter-spacing: -0.72px;
  text-transform: uppercase;
}
.change {
  display: flex;
}